name: Build and Test
permissions:
  contents: read

on:
  pull_request:
  
  workflow_dispatch:

jobs:
  build_and_test_with_cmake:
    name: CMake
    strategy:
      matrix:
        os:
        - ubuntu-latest
        compiler: 
        - {cc: gcc, cxx: g++}
        cuda:
        - 11.8
        - 12.4
        
        include:
        - os: ubuntu-22.04
          compiler: {cc: gcc, cxx: g++}
          cuda: 11.8
  
    runs-on: ${{ matrix.os }}
    env:
      BUILD_TYPE: Release
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.cuda }}
          method: 'network'
          sub-packages: ${{ runner.os=='Linux' && '["nvcc", "toolkit"]' || '[]' }} # Fake ternary operator
          non-cuda-sub-packages: '["libcublas", "libcufft", "libcusolver"]'
          log-file-suffix: '${{matrix.os}}-${{matrix.compiler.cc}}-${{matrix.cuda}}.txt'

      - name: Configure and build with CMake
        uses: threeal/cmake-action@v2
        with:
          source-dir: ${{ github.workspace }}
          build-dir: "${{ github.workspace }}/build"
          c-compiler: ${{ matrix.compiler.cc }}
          cxx-compiler: ${{ matrix.compiler.cxx }}
          options: |
            CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
            CMAKE_EXPORT_COMPILE_COMMANDS=ON
          run-build: true
          build-args: --config ${{ env.BUILD_TYPE }}

      - name: Upload compilation database (ubuntu-latest + gcc only)
        uses: actions/upload-artifact@v5
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        with:
          name: build-artifact
          path: build

  sonar-scan:
    name: SonarQube scan
    needs: build_and_test_with_cmake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: build-artifact
          path: ${{ github.workspace }}/build
    
      - name: SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}